.page {
  background-color: #2A2C2F;
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  /* Базовые вендорные префиксы сглаживание и
  масштабирования для шрифтов страницы .page в CSS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
}