.content__intro {
  margin: 0 auto;
  box-sizing: border-box;
  max-width: 1280px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 148px;
  padding-right: 442px;
}

@media (max-width: 1024px) {
  .content__intro {
    padding-left: 4.68%;
    padding-right: 27.9%;
  }
}

@media (max-width: 768px) {
  .content__intro {
    padding-left: 3.12%;
    padding-right: 3.12%;
  }
}

@media (max-width: 576px) {
  .content__intro {
    padding-left: 16px;
    padding-right: 16px;
    min-width: 320px;
  }
}